# Gradient Boosting

In [1]:
import numpy as np
import pandas as pd
import random
import array

#for gradient boost
from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.ensemble import GradientBoostingRegressor

#for boosting with code 
import sklearn 
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.cross_validation import train_test_split
from sklearn import tree
from sklearn import metrics
from sklearn.metrics import accuracy_score

#to convert categorical to numeric
from sklearn.preprocessing import LabelEncoder, scale

c:\python27\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [227]:
df = pd.read_csv('electronics.csv')

In [10]:
df

            age  income student credit_rating isBuy
0         youth    high      no          fair    no
1         youth    high      no     excellent    no
2   middle_aged    high      no          fair   yes
3        senior  medium      no          fair   yes
4        senior     low     yes          fair   yes
5        senior     low     yes     excellent    no
6   middle_aged     low     yes     excellent   yes
7         youth  medium      no          fair    no
8         youth     low     yes          fair   yes
9        senior  medium     yes          fair   yes
10        youth  medium     yes     excellent   yes
11  middle_aged  medium      no     excellent   yes
12  middle_aged    high     yes          fair   yes
13       senior  medium      no     excellent    no

In [226]:
print df.columns

Index([u'A', u'B', u'C', u'D', u'E', u'F', u'J', u'K', u'L', u'Q'], dtype='object')

In [12]:
rows = random.sample(df.index, int(len(df)*.80))
X = df.drop(['isBuy'], axis=1)
Y = df['isBuy']

In [13]:
X, y = make_hastie_10_2(random_state=0)
X_train, X_test = X[:9], X[9:]
y_train, y_test = y[:9], y[9:]

In [157]:
clf = GradientBoostingClassifier(n_estimators=50, learning_rate=0.5,max_depth=1, random_state=0).fit(X_train, y_train)

In [158]:
clf.score(X_test, y_test)

1.0

### with code

In [228]:
df = pd.read_csv('transfusion.csv')
#df = pd.read_csv('electronics.csv')
#df = pd.read_csv('fertility_Diagnosis.csv')
df.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [229]:
df.describe()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
count,748.000000,748.000000,748.000000,748.000000,748.000000
mean,9.506684,5.514706,1378.676471,34.282086,0.237968
std,8.095396,5.839307,1459.826781,24.376714,0.426124
min,0.000000,1.000000,250.000000,2.000000,0.000000
25%,2.750000,2.000000,500.000000,16.000000,0.000000
50%,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,14.000000,7.000000,1750.000000,50.000000,0.000000
max,74.000000,50.000000,12500.000000,98.000000,1.000000

In [230]:

#number = LabelEncoder()
#df['Q'] = number.fit_transform(df['Q'].astype('str'))
#df['income'] = number.fit_transform(df['income'].astype('str'))
#df['student'] = number.fit_transform(df['student'].astype('str'))
#df['credit_rating'] = numbe#r.fit_transform(df['credit_rating'].astype('str'))
#df['isBuy'] = number.fit_tr#ansform(df['isBuy'].astype('str'))

In [342]:
X = df.iloc[:,0:5]
y = df.iloc[:, -1]

In [343]:
# create training and testing vars
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2)
print X_train.shape, y_train.shape
print X_test.shape, y_test.shape

(598, 5) (598,)
(150, 5) (150,)

## Considering below 3 Classifiers

###  > Naive Bayes - Bernoulli

In [344]:
BernNB = BernoulliNB(binarize=True)
BernNB.fit(X_train, y_train)
print(BernNB)
y_expect = y_test
y_pred_Bern = BernNB.predict(X_test)
print accuracy_score(y_expect, y_pred_Bern)

BernoulliNB(alpha=1.0, binarize=True, class_prior=None, fit_prior=True)
0.7733333333333333

### > scikit - classification Tree

In [345]:
#scikit learn uses advance/modified CART 
clf = tree.DecisionTreeClassifier(criterion='gini',splitter='random',min_impurity_decrease=0.2)
clf = clf.fit(X_train, y_train) 
print(clf)
y_expect = y_test
y_pred_cart = clf.predict(X_test)
print accuracy_score(y_expect, y_pred_cart)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.2, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='random')
1.0

### > Multinomial Naive Bayes

In [346]:
MultiNB = MultinomialNB()
MultiNB.fit(X_train, y_train)
print(MultiNB)
y_expect = y_test
y_pred_Multi = MultiNB.predict(X_test)
print accuracy_score(y_expect, y_pred_Multi)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
0.7333333333333333

### Main logic - comparing all algorithm

In [347]:
print(y_pred_cart)
print(y_pred_Multi)
print(y_pred_Bern)

[0 0 0 1 0 1 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 1
 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 1 0
 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0
 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0
 0 0]
[0 1 1 1 1 0 0 1 1 0 0 0 1 1 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0 1
 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 1 1 0
 0 0 1 0 1 0 1 0 0 1 1 0 1 0 1 0 1 1 1 1 1 1 1 0 0 1 0 0 0 0 0 0 1 1 1 1 0
 1 0 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1
 0 1]
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0]

In [366]:
#initiallize the array
count = 0
for i in range(0,len(y_expect)):
    
    # if all are equal
  
    # if any one of 3 not equal 
    if(y_pred_cart[i] == y_pred_Bern[i]  & y_pred_cart[i] == y_pred_Multi[i]):
        y_pred_boost[i] = y_pred_cart[i]
    else: 
        count = count + 1
        if(y_pred_cart[i] == y_pred_Bern[i]):
            #nothing
            y_pred_boost[i] = y_pred_cart[i]
        
        elif(y_pred_cart[i] == y_pred_Multi[i]):
            #nothing
            y_pred_boost[i] = y_pred_cart[i]
        
        else:
            y_pred_boost[i] = y_pred_Multi[i]

print("Total no. of varying predictions : "+str(count))
print("\n"+"After Boosting Algorithm : ")
print(y_pred_boost)
print("\n"+'Accuracy : '+str(accuracy_score(y_expect, y_pred_boost)))

Total no. of varying predictions : 66

After Boosting Algorithm :
[0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1
 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 1 0
 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0
 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0]

Accuracy : 0.9466666666666667

### Entropy

In [294]:
model = tree.DecisionTreeClassifier(criterion='entropy') 
# for classification, here you can change the algorithm as gini or entropy (information gain) by default it is gini  
model.fit(X_train, y_train)
model.score(X_train, y_train)
predicted= model.predict(X_test)
y_expect = y_test
print accuracy_score(predicted, y_test)

1.0

### gini index

In [243]:
clf = tree.DecisionTreeClassifier(criterion='gini',max_depth=1)
clf = clf.fit(X_train, y_train) 
y_predict = clf.predict(X_test)
y_expect = y_test
print accuracy_score(y_predict, y_test)

1.0

### Gaussian Naive Bayes

In [245]:
GausNB = GaussianNB()
GausNB.fit(X_train, y_train)
print(GausNB)
y_expect = y_test
y_pred = GausNB.predict(X_test)
print accuracy_score(y_expect, y_pred)

GaussianNB(priors=None)
1.0

In [239]:
BernNB = BernoulliNB(binarize=0.2)
BernNB.fit(X_train,b y_train)
print(BernNB)
y_expect = y_test
y_pred = BernNB.predict(X_test)
print accuracy_score(y_expect, y_pred)

BernoulliNB(alpha=1.0, binarize=0.2, class_prior=None, fit_prior=True)
1.0